﻿@using System.Web.Optimization
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure
@using Bitmore.Aml.Web.Infrastructure.Config
@{
    var authentication = UnityConfig.Instance.Resolve<IAuthentication>();
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
    const string ModuleMainAction = @"/Account/Main";
}
<!DOCTYPE html>
<html lang="en" class="@(authentication.SetAuthClass()) @htmlHelper.SetCurrentClass()">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="@Url.ContentVs("~/favicon.png")" />

    <title>Bitmore Technologies</title>

    <!-- Client log -->
    @Html.Partial("LogClientEvents")

    <!-- Styles -->
    @Styles.Render("~/Assets/bootstrap")
    @Styles.Render("~/Assets/fontello")
    @Styles.Render("~/Assets/fontawesome")
    @Styles.Render("~/Assets/angular-toastr/css")
    @Styles.Render("~/Assets/simple-sidenav/css")
    @RenderSection("HeaderContentCSS", false)
    @Styles.Render("~/Assets/site")
</head>
<body class="@(authentication.SetAuthClass())" @(htmlHelper.ContainsAppModule() ? "ng-app=app" : string.Empty)>
    <div id="wrapper" class="target-toggled">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                @if (authentication.IsAuthenticated())
                {
                    <button type="button" class="navbar-toggle sidenav-open">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                }
                <a class="navbar-brand" href="@Url.Content(ModuleMainAction)">
                    <img src="@Url.ContentVs("~/Content/images/logo-white.svg")" alt="" />
                </a>
            </div>
            @if (authentication.IsAuthenticated())
            {
                <ul class="nav navbar-left top-nav">
                    <li>
                        <a id="menu-toggle" href="#" class="sidenav-open"><i class="icon-navicon"></i>&nbsp;</a>
                    </li>
                </ul>
            }
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                @Html.Action("Language", "Account")
                @if (authentication.IsAuthenticated())
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <span class="text-profile">@Global.ViewAccountProfile</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @{
                                var user = authentication.GetCurrentUser();
                                if (authentication.HasMultipleRoles())
                                {
                                    foreach (var rol in user.Roles)
                                    {
                                        <li class="@(user.CurrentRoleId == rol.RoleId ? "active" : string.Empty)">
                                            <a href="@Url.Action("ChangeRole", "Account")?roleId=@rol.RoleId">@rol.Name</a>
                                        </li>
                                    }
                                    <li class="divider"></li>
                                }
                            }
                            <li>
                                <a href="@Url.Action("Settings", "Account")"><i class="icon-cog"></i>@Global.ViewAccountSettings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="button-exit">
                        <a href="@Url.Action("LogOff", "Account")" class="single-toggle"><i class="icon-sign-out"></i>&nbsp;</a>
                    </li>
                                }
            </ul>
        </nav>

        <!-- Sidebar Menu Items -->
        @if (authentication.IsAuthenticated())
        {
            @Html.Action("Menu", "Account")
        }

        <!-- /#sidebar-wrapper -->
        <div id="page-wrapper">
            <div class="container-fluid container-fill">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Common Scripts -->
    @Scripts.Render("~/Assets/jquery/js")
    @Scripts.Render("~/Assets/jquery.globalization/" + authentication.GetCurrentLanguage())
    @Scripts.Render("~/Assets/bootstrap/js")
    @Scripts.Render("~/Assets/angular/js")
    @Scripts.Render("~/Assets/angular-toastr/js")
    @Scripts.Render("~/Assets/simple-sidenav/js")
    @Scripts.Render("~/Assets/slimscroll/js")
    @Scripts.Render("~/Assets/common/js")
    @if (authentication.IsAuthenticated())
    {
        // SignalR
        <div id="signlRMsg">
            <div ng-controller="signlRMessagesController"></div>
        </div>
        <script src="@Url.Content("~/Content/signalr/jquery.signalR-2.2.0.min.js")"></script>
        <script src="@Url.Content("~/signalr/hubs")"></script>
        @Scripts.Render("~/Assets/signalr-messages/js")
    }
    <script type="text/javascript">
        var globalOptions = @Html.Raw(htmlHelper.GetGlobalOptions());
    </script>
    @RenderSection("HeaderContent", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</body>

</html>
