@using Bitmore.Aml.Web.Infrastructure
@using Bitmore.Aml.Web.Infrastructure.Config
@model Bitmore.Aml.Web.ViewModel.Shared.DateTimePickerViewModel
@{
    var authentication = UnityConfig.Instance.Resolve<IAuthentication>();
    this.Model.Build();
}
@helper CreateInput(string attr, IAuthentication authentication)
{
    <input type="text" 
           class="form-control input-sm"
           @Html.Raw(attr)
           datetimepicker
           datetimepicker-options="{viewMode:'days', format: '@authentication.ShortDateTimeFormatToUpper()', useCurrent:false}">
}
@if (!Model.IsRange)
{
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
        </span>
        @CreateInput(this.Model.AttrFirst, authentication)
    </div>
}
else
{
    <div class="input-group input-daterange" @Html.Raw(this.Model.AttrDateRange)>
        @CreateInput(this.Model.AttrFirst, authentication)
        <span class="input-group-addon">to</span>
        @CreateInput(this.Model.AttrSecond, authentication)
    </div>
}