@using Bitmore.Aml.Resources.Language
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row margin-top-2em">
    <div class="col-xs-12">
        <p class="text-center">
            <i class="icon-exclamation-triangle error-icon"></i>
        </p>
        <h2 class="text-center">@Global.ViewSharedPageError</h2>
    </div>
    <div class="col-xs-12">
        <p class="text-center">
            @Global.ViewSharedPageErrorMessage
        </p>
    </div>
</div>