@using Bitmore.Aml.Domain.Config
@using Bitmore.Aml.Web.Infrastructure.Config
@{
    var appConfiguration = UnityConfig.Instance.Resolve<IAppConfiguration>();
}
@if (appConfiguration.AppEnvironment.LogJavascriptErrors)
{
    <script>
        window.onerror = function(m,u,l,c) {
            if (window.XMLHttpRequest) {
                var xhr = new XMLHttpRequest();
                var data =
                          "type=Error"
                        + "&msg=" + encodeURIComponent(m)
                        + "&url=" + encodeURIComponent(u)
                        + "&line=" + l
                        + "&col=" + c
                        + "&href=" + encodeURIComponent(window.location.href);
                xhr.open("POST", "/App/LogClientEvents?" + data, true);
                xhr.send();
            }
        };
    </script>
}