@using Bitmore.Aml.Resources.Language
@model Bitmore.Aml.Web.ViewModel.Shared.ModuleHeaderViewModel
<div class="row">
    @{
        var hasGridActions = Model.GridActions.Any();
        Model.Description = Model.Description ?? Model.TitleTop;
    }
    @if (!(string.IsNullOrEmpty(Model.TitleTop) && string.IsNullOrEmpty(Model.TitleMessage) && string.IsNullOrEmpty(Model.TitleIcon)))
    {
        <div class="col-xs-12 page-header">
            <div class="pull-left margin-bottom-1em">
                <i class="@Model.TitleIcon fa-4x" aria-hidden="true"></i>
            </div>
            <div class="pull-left margin-bottom-1em">
                <h1>@Model.TitleTop</h1>
                <small class="text-color-secundary">@Model.TitleMessage</small>
            </div>
        </div>
    }
        <div class="@(hasGridActions ? "col-xs-12 col-sm-9 col-md-9" : "col-xs-12")">
            <ol class="breadcrumb">
                <li class="active">
                    &nbsp;
                </li>
            </ol>
        </div>
    
    @if (hasGridActions)
    {
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="btn-group pull-right parent-block">
                <button type="button" class="btn btn-default dropdown-toggle parent-block btn-fix-space" data-toggle="dropdown">
                    @Global.ViewSharedGridActions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var action in Model.GridActions)
                    {
                        <li><a href="javascript:void(0);" ng-click="@action.Item1">@action.Item2</a></li>
                    }
                </ul>
            </div>
        </div>
    }
</div>