@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Infrastructure
@using Bitmore.Aml.Web.Infrastructure.Config
@{
    var authentication = UnityConfig.Instance.Resolve<IAuthentication>();
    var env = authentication.GetOwinContext().Environment;
}
<tbody ng-show="ctrl.vm.isLoading">
    <tr>
        <td colspan="7" class="text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            @Global.ViewSharedGridLoading
        </td>
    </tr>
</tbody>
<tfoot>
    <tr ng-show="!ctrl.vm.isLoading">
        <td colspan="7" class="text-center" st-pagination="currentPage" st-items-by-page="10" st-displayed-pages="5" st-template="pagination.html"></td>
    </tr>
</tfoot>
@if (!env.Keys.Contains("ExcludeScript"))
{
    // Only one pagination script per page.
    env.Add("ExcludeScript", true);
    <script type="text/ng-template" id="pagination.html">
        <div>
            @Global.ViewSharedGridPagingText
        </div>
        <div class="pagination" ng-if="pages.length >= 2">
            <ul class="pagination">
                <li ng-if="1!==pages[0]"><a ng-click="selectPage(1)">First</a></li>
                <li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a ng-click="selectPage(page)">{{page}}</a></li>
                <li ng-if="numPages!==pages[pages.length - 1]"><a ng-click="selectPage(numPages)">Last... {{numPages}}</a></li>
            </ul>
        </div>
    </script>
}