@using System.Web.Optimization
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure.Config
@model Bitmore.Aml.Web.ViewModel.Account.ChangePasswordExpiredViewModel
@{
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
}
@section HeaderContent
{
    @Scripts.Render("~/Assets/angular-auto-validate/js")
    @Scripts.Render("~/Assets/app/changePasswordExpired/js")
}
@{
    ViewBag.Title = Global.ViewAccountChangePasswordExpiredTitle;
}
<div class="row">
    <div ng-controller="changePasswordExpiredController as ctrl" ng-init="ctrl.init(@htmlHelper.JsonNet(Model))">
        <script type="text/ng-template" id="modalChangePasswordExpired.html">
            <form ng-submit="ctrl.onSave()" novalidate>
                <div class="modal-header">
                    <h3>
                        @if (this.Model.IsFirstLogIn)
                        {
                            @Global.ViewAccountChangePasswordFirstLogInTitle
                            <br />
                            <small>@Global.ViewAccountChangePasswordFirstLogIn</small>
                        }
                        else
                        {
                            @Global.ViewAccountChangePasswordExpiredTitle
                            <br />
                            <small>@Global.ViewAccountChangePasswordExpiredMessage</small>
                        }
                    </h3>
                </div>
                <div class="modal-body margin-bottom-1em remove-padding">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="NewPassword">@Global.ViewAccountSettingsNewPassword</label>
                            <input type="password" class="form-control" id="NewPassword" name="NewPassword" maxlength="50" required ng-model="ctrl.vm.data.newPassword">
                        </div>
                        <div class="form-group">
                            <label for="RepeatNewPassword">@Global.ViewAccountSettingsRepeatNewPassword</label>
                            <input type="password" class="form-control" id="RepeatNewPassword" name="RepeatNewPassword" maxlength="50" required ng-model="ctrl.vm.data.repeatNewPassword">
                        </div>
                    </div>
                </div>
                <div class="modal-footer remove-padding">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary col-xs-12 col-lg-12" ng-disabled="ctrl.vm.data.enableButton() == false">@Global.ViewAccountSettingsChangeButton</button>
                    </div>
                </div>
            </form>
        </script>
    </div>
</div>