@using Bitmore.Aml.Resources.Language
@model Bitmore.Aml.Web.ViewModel.Account.LanguageViewModel
@if (Model.Cultures.Count() > 1)
{
    <li id="langAndReturnUrl" name="langAndReturnUrl" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-language"></i> @Global.ViewAccountLanguage <b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-menu-language">
            @foreach (var lan in Model.Cultures)
            {
                <li class="@(lan.Name == Model.Selected ? "active" : string.Empty)">
                    <a href="/Account/ChangeCulture?lan=@lan.Name&url=@Request.RawUrl"> @lan.DisplayName</a>
                </li>
            }
        </ul>
    </li>
}