@using System.Web.Optimization
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@model Bitmore.Aml.Web.ViewModel.Account.AccountViewModel
@section HeaderContentCSS{
    @Styles.Render("~/Assets/login/css")
    @Styles.Render("~/Assets/awesome-bootstrap-checkbox/css")
}
@{
    const string ModuleAccountRequestPassword = @"/Account/RequestPassword";
}
<div class="row row-centered">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-centered content-centered">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="@Url.ContentVs("~/Content/images/login-avatar.svg")" alt=""/>
            <p id="profile-name" class="profile-name-card"></p>
            @using (Html.BeginForm("LogIn", "Account", new { returnUrl = @Model.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputUserName" name="UserName" class="form-control" maxlength="50" placeholder="@Global.ViewAccountLogInUserName" required value="@Model.UserName" autocomplete="off" autofocus />
                <input type="password" id="inputPassword" name="Password" class="form-control" maxlength="50" placeholder="@Global.ViewAccountLogInPassword" required value="@Model.Password" autocomplete="off" />
                <div id="remember" class="checkbox">
                    <input type="checkbox" id="cbxremember" value="true" @(Model.RememberMe ? "checked" : string.Empty)>
                    <label for="cbxremember">
                        @Global.ViewAccountLogInRememberMe
                    </label>
                </div>
                <button class="btn btn-lg btn-login btn-block btn-signin" type="submit">@Global.ViewSharedEnter</button>
            }
            <a href="@Url.Content(ModuleAccountRequestPassword)" class="forgot-password">
                @Global.ViewAccountLogInForgotYourPassword
            </a>
            <div class="margin-top-1em">
                @if (Model?.Message != null)
                {
                    <div class="alert alert-danger text-justify" role="alert">
                        @Html.Raw(Model.Message)
                    </div>
                    if (Model.HasActiveSession)
                    {
                        <input type="hidden" name="OverrideActiveSession" value="true" />
                        <div class="margin-top-1em">
                            <button type="submit" class="btn btn-warning col-xs-12">@Global.ViewSharedContinue</button>
                            <a href="@Url.Action("LogIn", "Account")" class="btn btn-warning col-xs-12 margin-top-1em">@Global.ViewSharedCancel</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>