@using System.Web.Optimization
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure.Config
@model Bitmore.Aml.Web.ViewModel.Account.MainViewModel
@{
        this.ViewBag.Title = "Main";
        var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
        var notify = htmlHelper.GetNotifyBeforeDays();
        var viewmodel = new
        {
            Show = notify.Item1,
            Title = @Global.ViewAccountMainPasswordWillExpireTitle,
            Text = string.Format(Global.ViewAccountMainPasswordWillExpire, notify.Item2)
        };
}
@section HeaderContent{
    @Scripts.Render("~/Assets/app/main/js")
}
<div class="row">
    <div ng-controller="mainController as ctrl" ng-init="ctrl.init(@htmlHelper.JsonNet(viewmodel))"></div>
</div>