@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure
@using Bitmore.Aml.Web.Infrastructure.Config
@model IEnumerable<Bitmore.Aml.Domain.DataObject.AppModuleMenu>
@{
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
    var authentication = UnityConfig.Instance.Resolve<IAuthentication>();
}
<div class="sidenav sidenav-menu">
    <a href="javascript:void(0)" class="closebtn sidenav-close">&times;</a>
    <div class="sidenav-scroll">
        <div class="user-panel margin-bottom-1em">
            <div class="pull-left image">
                <img src="@Url.Content($"~/Content/images/avatars/{ authentication.GetCurrentUser().ProfileImage }")" class="img-circle img-avatar" alt="User Image">
            </div>
            <div class="pull-right info">
                <p>@authentication.GetCurrentUser().DisplayName</p>
                <span>
                    <i class="fa fa-circle"></i> Online
                </span>
            </div>
        </div>

        @foreach (var mod in Model)
        {
            <div class="submenu">
                @if (mod.ChildrenAppModules.Count > 0)
                {
                    var hasChildrenWithUrl = htmlHelper.HasChildrenWithUrl(Html, mod, Url);
                    <a href="javascript:;" class="submenu-heading" data-toggle="collapse" data-target="#@mod.Name"><i class="@mod.CssOrDesktopIcon"></i>@mod.NameTranslated<i class="icon-caret-down"></i></a>
                    <div class="submenu-body @(hasChildrenWithUrl ? string.Empty : "collapse")" id="@mod.Name">
                        <div class="list-group">
                            @foreach (var child in mod.ChildrenAppModules)
                            {
                                <a href="@Url.Content(child.TypeOrUrl)" class="list-group-item @(htmlHelper.IsMenuUrl(Html, child, Url) ? "active" : string.Empty)"><i class="@child.CssOrDesktopIcon"></i>@child.NameTranslated</a>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <a href="@Url.Content(mod.TypeOrUrl)" class="submenu-heading @(htmlHelper.IsMenuUrl(Html, mod, Url) ? "active" : string.Empty)"><i class="@mod.CssOrDesktopIcon"></i>@mod.NameTranslated</a>
                }
            </div>
        }
    </div>
</div>