@using System.Web.Optimization
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure.Config
@model Bitmore.Aml.Web.ViewModel.Account.UserPasswordAssigmentViewModel
@{
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
}
@section HeaderContent{
    @Scripts.Render("~/Assets/angular-auto-validate/js")
    @Scripts.Render("~/Assets/app/passwordAssigment/js")
}
@{
    ViewBag.Title = Global.ViewAccountPasswordAssigmentTitle;
}
<div class="row row-centered">
    <div ng-controller="passwordAssigmentController as ctrl" ng-init="ctrl.init(@htmlHelper.JsonNet(new { Model.UserId }))">
        <div class="col-xs-12 col-sm-6 col-md-4 col-centered content-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Global.ViewAccountPasswordAssigmentTitle</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="ctrl.onPasswordAssigment()" novalidate="novalidate">
                        <div class="form-group">
                            <label>@Global.ViewAccountSettingsNewPassword</label>
                            <input type="password" class="form-control" maxlength="50" required ng-model="ctrl.vm.data.newPassword" />
                        </div>
                        <div class="form-group">
                            <label>@Global.ViewAccountSettingsRepeatNewPassword</label>
                            <input type="password" class="form-control" maxlength="50" required ng-model="ctrl.vm.data.repeatNewPassword" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">@Global.ViewAccountSettingsChangeButton</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>