@using Bitmore.Aml.Resources.Language
@using BotDetect.Web.Mvc
@model Bitmore.Aml.Web.ViewModel.Account.RequestPasswordViewModel
@section HeaderContentCSS{
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = Global.ViewAccountChangePasswordTitle;
}
<div class="row">
    <div class="col-xs-12 page-header">
        <div class="pull-left margin-bottom-1em">
            <i class="icon-password fa-4x" aria-hidden="true"></i>
        </div>
        <div class="pull-left margin-bottom-1em">
            <h1>@Global.ViewAccountChangePasswordTitle</h1>
            <small class="text-color-secundary">@Global.ViewAccountChangePasswordMessage</small>
        </div>
    </div>
</div>
<div class="row center-form">
    <div class="col-xs-12">
        <div class="text-center margin-bottom-1em">
            @Global.ViewAccountPassRequestMessage
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        @using (Html.BeginForm("RequestPassword", "Account", FormMethod.Post, new { @class = "col-xs-12 col-sm-8 col-md-6 col-lg-4 remove-padding" }))
        {
            if (Model == null || !Model.IsValid)
            {
                 <div class="form-group">
                     <div class="input-group">
                         <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                         <input type="text" name="UserName" class="form-control" id="UserName" size="30" maxlength="2048" placeholder="@Global.ViewAccountUsersUserName" required value="@(Model != null ? Model.UserName : string.Empty)" />
                     </div>
                 </div>
                 <div class="form-group">
                     <label for="captchaCode">@Global.ViewAccountRequestPasswordCaptchaText</label>
                     @{ var sampleCaptcha = new MvcCaptcha("PasswordCaptcha");}
                     @Html.Captcha(sampleCaptcha)
                     @Html.TextBox("CaptchaCode", null, new { @class = "form-control margin-top-1em", required = true })
                 </div>
                 <div class="form-group">
                     <div class="input-group">
                         <button type="submit" class="btn btn-default col-xs-12">@Global.ViewSharedSendEmail</button>
                     </div>
                 </div>
            }
            <div class="form-group">
                @if (Model != null && Model.Message != null)
                {
                    <div class="alert @(this.Model.IsValid ? "alert-success" : "alert-danger")" role="alert">
                        @Model.Message
                    </div>
                }
            </div>
            <a href="@Url.Action("LogIn", "Account")">@Global.ViewAccountRequestPasswordGoBack</a>
        }
    </div>
</div>