@using System.Web.Optimization
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure
@using Bitmore.Aml.Web.Infrastructure.Config
@using Bitmore.Aml.Web.ViewModel.Account
@using Bitmore.Aml.Web.ViewModel.Shared
@model RoleWebPageViewModel
@{
    ViewBag.Title = Global.ViewAccountRolesTitle;
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
    var authentication = UnityConfig.Instance.Resolve<IAuthentication>();
}
@section HeaderContentCSS{
    @Styles.Render("~/Assets/bootstrap-datetimepicker/css")
    @Styles.Render("~/Assets/angular-smart-table/css")
    @Styles.Render("~/Assets/jstree/css")
}
@section HeaderContent{
    @Scripts.Render("~/Assets/angular-smart-table/js")
    @Scripts.Render("~/Assets/angular-auto-validate/js")
    @Scripts.Render("~/Assets/bootstrap-datetimepicker/js")
    @Scripts.Render("~/Assets/jstree/js")
    @Scripts.Render("~/Assets/app/roles/js")
}
<div>
    <div ng-controller="roleController as ctrl">
    @Html.Partial("ModuleHeader", new ModuleHeaderViewModel
    {
        TitleTop = Global.ViewAccountRolesTitleTop,
        TitleMessage = Global.ViewAccountRolesTitleMessage,
        TitleIcon = "icon-roles"
    }.AddGridAction("ctrl.reloadGrid()", Global.ViewSharedGridReload)
     .AddGridAction("ctrl.addNew()", Global.ViewSharedAddNew))
        <div class="row">
            <div class="col-xs-12 margin-top-1em table-responsive">
                <table class="ng-cloak table table-striped table-condensed table-collapse-phone" st-pipe="ctrl.loadData" st-table="ctrl.vm.rowCollection" width="100%">
                    <thead>
                        <tr>
                            <th st-ratio="0" st-sort="RoleId" class="hidden">RoleId</th>
                            <th st-ratio="25" st-sort="Name" st-sort-default="true">@Global.ViewAccountRolesGridColName</th>
                            <th st-ratio="40" st-sort="Description">@Global.ViewAccountRolesGridColDescription</th>
                            <th st-ratio="20" st-sort="CreatedOnDate">@Global.ViewAccountRolesGridColCreatedOnDate</th>
                            <th st-ratio="15"></th>
                        </tr>
                        <tr>
                            @Html.InputSearch("RoleId", hide: true)
                            @Html.InputSearch(new[] { "Name", "Description" })
                            <th>
                                @Html.Partial("DateTimePicker", DateTimePickerViewModel.CreateTableField("CreatedOnDate", true))
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!ctrl.vm.isLoading">
                        <tr st-select-row="row" ng-repeat="row in ctrl.vm.rowCollection">
                            <td class="has-label hidden" data-label="RoleId">{{row.roleId}}</td>
                            <td class="has-label" data-label="@Global.ViewAccountRolesGridColName">{{row.name}}</td>
                            <td class="has-label" data-label="@Global.ViewAccountRolesGridColDescription">{{row.description}}</td>
                            <td class="has-label" data-label="@Global.ViewAccountRolesGridColCreatedOnDate">{{row.createdOnDate | date:"@authentication.FullDateTimeFormat()"}}</td>
                            <td class="has-label text-right action-inline" data-label="@Global.ViewAccountRolesGridColActions">
                                <button class="btn btn-info btn-sm" ng-click="ctrl.onEdit($index, row)"><i class="fa fa-pencil-square-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    @Html.Partial("PaginationAndLoading")
                </table>
            </div>
        </div>

        <script type="text/ng-template" id="modalEdit.html">
            <form ng-submit="ctrl.onSave()" ng-init="ctrl.initRoles(@htmlHelper.JsonNet(Model))" novalidate="novalidate">
                <div class="modal-header">
                    <h3>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        @Global.ViewSharedMsgGeneralInformation
                    </h3>
                </div>
                <div class="modal-body margin-bottom-1em remove-padding">
                    <div class="col-xs-12 col-lg-4">
                        <div class="form-group">
                            <label for="Name">@Global.ViewAccountRolesRolName</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="@Global.ViewAccountRolesRolName" required ng-model="ctrl.vm.data.name">
                        </div>
                        <div class="form-group">
                            <label for="Description">@Global.ViewAccountRolesRolDescription</label>
                            <input type="text" class="form-control" id="Description" name="Description" placeholder="@Global.ViewAccountRolesRolDescription" required ng-model="ctrl.vm.data.description">
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-8">
                        <div js-tree="ctrl.vm.tree.treeConfig" tree="ctrl.vm.tree.treeInstance" ng-model="ctrl.vm.tree.treeData" tree-events="ready:ctrl.onTreeReady;check_node:ctrl.onCheckNode;uncheck_node:ctrl.onUnCheckNode" class="fix-tree"></div>
                    </div>
                </div>
                <div class="modal-footer remove-padding">
                     <div class="col-xs-12">
                         <a class="btn btn-default" ng-click="ctrl.onClose()">@Global.ViewSharedCancel</a>
                         <button type="submit" class="btn btn-primary">@Global.ViewSharedSave</button>
                     </div>
                </div>
            </form>
        </script>

    </div>

</div>