@using System.Web.Optimization
@using AutoMapper
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure.Config
@using Bitmore.Aml.Web.ViewModel.Account
@model SettingsWebViewModel
@{
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
    var mapper = UnityConfig.Instance.Resolve<IMapper>();
}
@section HeaderContentCSS{
    @Styles.Render("~/Assets/bootstrap-modal-sidebar/css")
}
@section HeaderContent{
    @Scripts.Render("~/Assets/angular-auto-validate/js")
    @Scripts.Render("~/Assets/app/settings/js")
}
@{
    ViewBag.Title = Global.ViewAccountChangePasswordTitle;
}
<div class="row">
    <div class="col-xs-12 page-header">
        <div class="pull-left margin-bottom-1em">
            <i class="icon-cog fa-4x" aria-hidden="true"></i>
        </div>
        <div class="pull-left margin-bottom-1em">
            <h1>@Global.ViewAccountSettingsTitleTop</h1>
            <small class="text-color-secundary">@Global.ViewAccountSettingsTitleMessage</small>
        </div>
    </div>
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li class="active">
                &nbsp;
            </li>
        </ol>
    </div>
    <div class="col-xs-12" ng-controller="settingsController as ctrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.DisplayName</h3>
            </div>
            <div class="panel-body" ng-init="ctrl.init(@htmlHelper.JsonNet(new { Model.ProfileImage }))">
                <div class="col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0 col-lg-3 settings-picture">
                    <a href="#" ng-click="ctrl.changeAvatar()">
                        <img ng-src="{{ctrl.vm.data.profileImage}}" class="img-circle ng-cloak" alt="User Image">
                    </a>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9 remove-padding">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>@Global.ViewAccountSettingsUserName</td>
                                <td>@Model.UserName</td>
                            </tr>
                            <tr>
                                <td>@Global.ViewAccountSettingsName</td>
                                <td>@Model.Name</td>
                            </tr>
                            <tr>
                                <td>@Global.ViewAccountSettingsPaternalLastName</td>
                                <td>@Model.PaternalLastName</td>
                            </tr>
                            <tr>
                                <td>@Global.ViewAccountSettingsMaternalLastName</td>
                                <td>@Model.MaternalLastName</td>
                            </tr>
                            <tr>
                                <td>@Global.ViewAccountSettingsLastLogIn</td>
                                <td>@(Model.LastLogIn ?? @Model.CurrentLogIn)</td>
                            </tr>
                            <tr class="word-break-all">
                                <td>@Global.ViewAccountSettingsEmail</td>
                                <td><a href="mailto:@Model.Email">@Model.Email</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="pull-right form-group">
                                        <div class="input-group">
                                            <button type="button" class="btn btn-primary col-xs-12 col-lg-12" ng-click="ctrl.changePassword()">@Global.ViewAccountSettingsChangeButton</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="modalChangePassword.html">
        <form ng-submit="ctrl.onSave()" novalidate="novalidate" ng-init="ctrl.init(@htmlHelper.JsonNet(mapper.Map<SettingsEditViewModel>(Model)))">
            <div class="modal-header">
                <h3>
                    <i class="fa fa-key" aria-hidden="true"></i>
                    @Global.ViewAccountSettingsTitle
                </h3>
            </div>
            <div class="modal-body margin-bottom-1em remove-padding">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="CurrentPassword">@Global.ViewAccountSettingsCurrentPassword</label>
                        <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" ng-maxlength="50" required ng-model="ctrl.vm.data.currentPassword" />
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">@Global.ViewAccountSettingsNewPassword</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" maxlength="50" required ng-model="ctrl.vm.data.newPassword" />
                    </div>
                    <div class="form-group">
                        <label for="RepeatNewPassword">@Global.ViewAccountSettingsRepeatNewPassword</label>
                        <input type="password" class="form-control" id="RepeatNewPassword" name="RepeatNewPassword" maxlength="50" required ng-model="ctrl.vm.data.repeatNewPassword" />
                    </div>
                </div>
            </div>
            <div class="modal-footer remove-padding">
                <div class="col-xs-12">
                    <a class="btn btn-default" ng-click="ctrl.onClose()">@Global.ViewSharedClose</a>
                    <button type="submit" class="btn btn-primary" ng-disabled="ctrl.vm.data.enableButton() == false">@Global.ViewAccountSettingsChangeButton</button>
                </div>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="modalAvatar.html">
        <div ng-init="ctrl.init(@htmlHelper.JsonNet(new { Model.Avatars }))" formnovalidate>
            <div class="modal-header">
                <h3>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    @Global.ViewAccountSettingsAvatarTitle
                </h3>
            </div>
            <div class="modal-body margin-top-bottom-1em remove-padding">
                @foreach (var avatar in Model.Avatars)
                {
                    <label class="avatar col-xs-12 col-sm-3 col-md-2">
                        <input type="radio" name="avatar" value="@avatar.FileName" ng-model="ctrl.vm.data.profileImageTmp" />
                        <img src="@avatar.Path" />
                    </label>
                }
            </div>
            <div class="modal-footer remove-padding">
                <div class="col-xs-12">
                    <a class="btn btn-default" ng-click="ctrl.onClose()">@Global.ViewSharedCancel</a>
                    <a class="btn btn-primary" ng-disabled="!ctrl.vm.data.profileImageTmp" ng-click="ctrl.onSave()">@Global.ViewSharedSave</a>
                </div>
            </div>
        </div>
    </script>

</div>