@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure
@using Bitmore.Aml.Web.Infrastructure.Config
@using Bitmore.Aml.Web.ViewModel.Shared
@model Bitmore.Aml.Web.ViewModel.Account.UserTokenPageViewModel
@{
    ViewBag.Title = Global.ViewAccountUsersTitle;
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
    var authentication = UnityConfig.Instance.Resolve<IAuthentication>();
}


<div ng-init="ctrl.init(@htmlHelper.JsonNet(Model.Messages))">
    @Html.Partial("ModuleHeader", new ModuleHeaderViewModel()
    .AddGridAction("ctrl.reloadGrid()", Global.ViewSharedGridReload)
    .AddGridAction("ctrl.onCreateToken()", Global.ViewSharedAddNew))
    <div class="row">
        <div class="col-xs-12 margin-top-1em table-responsive">
            <table class="ng-cloak table table-striped table-condensed table-collapse-phone" st-pipe="ctrl.loadData" st-table="ctrl.vm.rowCollection" width="100%">
                <thead>
                <tr>
                    <th st-ratio="0" st-sort="AccessTokenId" class="hidden">AccessTokenId</th>
                    <th st-ratio="0" st-sort="UserId" class="hidden">UserId</th>
                    <th st-ratio="15" st-sort="CreatedOnDate" st-sort-default="true">@Global.ViewAccountUserTokensGridCreatedOnDate</th>
                    <th st-ratio="15" st-sort="ExpirationOnDate">@Global.ViewAccountUserTokensGridExpirationDate</th>
                    <th st-ratio="25" st-sort="Signature">@Global.ViewAccountUserTokensGridSignature</th>
                    <th st-ratio="35" st-sort="Description">@Global.ViewAccountUserTokensGridDescription</th>
                    <th st-ratio="10"></th>
                </tr>
                <tr>
                    @Html.InputSearch("AccessTokenId", hide: true)
                    @Html.InputSearch("UserId", hide: true)
                    <th>
                        @Html.Partial("DateTimePicker", DateTimePickerViewModel.CreateTableField("CreatedOnDate", true))
                    </th>
                    <th>
                        @Html.Partial("DateTimePicker", DateTimePickerViewModel.CreateTableField("ExpirationOnDate", true))
                    </th>
                    @Html.InputSearch(new[] { "Signature", "Description" })
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody ng-show="!ctrl.vm.isLoading">
                <tr st-select-row="row" ng-repeat="row in ctrl.vm.rowCollection">
                    <td class="has-label hidden" data-label="AccessTokenId">{{row.accessTokenId}}</td>
                    <td class="has-label hidden" data-label="UserId">{{row.userId}}</td>
                    <td class="has-label" data-label="@Global.ViewAccountUserTokensGridCreatedOnDate" ng-class="{'text-muted': row.isRevoked}">{{row.createdOnDate | date:"@authentication.FullDateTimeFormat()"}}</td>
                    <td class="has-label" data-label="@Global.ViewAccountUserTokensGridExpirationDate" ng-class="{'text-muted': row.isRevoked}">{{row.expirationOnDate | date:"@authentication.FullDateTimeFormat()"}}</td>
                    <td class="has-label" data-label="@Global.ViewAccountUserTokensGridSignature" ng-class="{'text-muted': row.isRevoked}">{{row.signature}}</td>
                    <td class="has-label" data-label="@Global.ViewAccountUserTokensGridDescription" ng-class="{'text-muted': row.isRevoked}">{{row.description}}</td>
                    <td class="has-label text-right action-inline" data-label="@Global.ViewAccountUserTokensGridActions">
                        <div class="form-group" ng-if="!row.isRevoked">
                            <button class="btn btn-info btn-sm" ng-click="ctrl.onRevokeToken($index, row)"><i class="fa fa-ban"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
                @Html.Partial("PaginationAndLoading")
            </table>
        </div>
    </div>
</div>