@using System.Web.Optimization
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure
@using Bitmore.Aml.Web.Infrastructure.Config
@using Bitmore.Aml.Web.ViewModel.Account
@using Bitmore.Aml.Web.ViewModel.Shared
@model Bitmore.Aml.Web.ViewModel.Account.UserPageViewModel
@{
    ViewBag.Title = Global.ViewAccountUsersTitle;
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
    var authentication = UnityConfig.Instance.Resolve<IAuthentication>();
}
@section HeaderContentCSS{
    @Styles.Render("~/Assets/bootstrap-modal-sidebar/css")
    @Styles.Render("~/Assets/bootstrap-datetimepicker/css")
    @Styles.Render("~/Assets/angular-smart-table/css")
    @Styles.Render("~/Assets/selectize/css")
    @Styles.Render("~/Assets/awesome-bootstrap-checkbox/css")
}
@section HeaderContent{
    @Scripts.Render("~/Assets/angular-smart-table/js")
    @Scripts.Render("~/Assets/angular-auto-validate/js")
    @Scripts.Render("~/Assets/angular-checklist-model/js")
    @Scripts.Render("~/Assets/bootstrap-datetimepicker/js")
    @Scripts.Render("~/Assets/selectize/js/standalone")
    @Scripts.Render("~/Assets/app/users/js")
}

<div>
    <div ng-controller="userController as ctrl" ng-init="ctrl.init(@htmlHelper.JsonNet(Model.Messages))">
    @Html.Partial("ModuleHeader", new ModuleHeaderViewModel
    {
        TitleTop = Global.ViewAccountUsersTitleTop,
        TitleMessage = Global.ViewAccountUsersTitleMessage,
        TitleIcon = "icon-user"
    }.AddGridAction("ctrl.reloadGrid()", Global.ViewSharedGridReload)
        .AddGridAction("ctrl.addNew()", Global.ViewSharedAddNew)
        .AddGridAction("ctrl.exportToXlsx()", Global.ViewSharedGridExportToXlsx)
        .AddGridAction("ctrl.exportFilteredToXlsx()", Global.ViewSharedGridExportFilteredToXlsx))
        <div class="row">
            <div class="col-xs-12 margin-top-1em table-responsive">
                <table class="ng-cloak table table-striped table-condensed table-collapse-phone" st-pipe="ctrl.loadData" st-table="ctrl.vm.rowCollection" width="100%">
                    <thead>
                        <tr>
                            <th st-ratio="0" st-sort="UserId" class="hidden">UserId</th>
                            <th st-ratio="25" st-sort="DisplayName" st-sort-default="true">@Global.ViewAccountUsersGridDisplayName</th>
                            <th st-ratio="15" st-sort="UserName">@Global.ViewAccountUsersGridUserName</th>
                            <th st-ratio="25" st-sort="Email">@Global.ViewAccountUsersGridEmail</th>
                            <th st-ratio="10" st-sort="CreatedOnDate">@Global.ViewAccountUsersGridCreatedOnDate</th>
                            <th st-ratio="10" st-sort="LastLogIn">@Global.ViewAccountUsersGridLastLogIn</th>
                            <th st-ratio="10"></th>
                        </tr>
                        <tr>
                            @Html.InputSearch("UserId", hide: true)
                            @Html.InputSearch(new[] { "DisplayName", "UserName", "Email" })
                            <th>
                                @Html.Partial("DateTimePicker", DateTimePickerViewModel.CreateTableField("CreatedOnDate", true))
                            </th>
                            <th>
                                @Html.Partial("DateTimePicker", DateTimePickerViewModel.CreateTableField("LastLogIn", true))
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!ctrl.vm.isLoading">
                        <tr st-select-row="row" ng-repeat="row in ctrl.vm.rowCollection">
                            <td class="has-label hidden" data-label="UserId">{{row.userId}}</td>
                            <td class="has-label" data-label="@Global.ViewAccountUsersGridDisplayName">{{row.displayName}}</td>
                            <td class="has-label" data-label="@Global.ViewAccountUsersGridUserName">{{row.userName}}</td>
                            <td class="has-label" data-label="@Global.ViewAccountUsersGridEmail">{{row.email}}</td>
                            <td class="has-label" data-label="@Global.ViewAccountUsersGridCreatedOnDate">{{row.createdOnDate | date:"@authentication.FullDateTimeFormat()"}}</td>
                            <td class="has-label" data-label="@Global.ViewAccountUsersGridLastLogIn">{{row.lastLogIn | date:"@authentication.FullDateTimeFormat()"}}</td>
                            <td class="has-label text-right action-inline" data-label="@Global.ViewAccountUsersGridActions">
                                <div class="form-group">
                                    <button class="btn btn-info btn-sm" ng-click="ctrl.onEditTokens($index, row)"><i class="fa fa-lock"></i></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info btn-sm" ng-click="ctrl.onSendPass($index, row)"><i class="fa fa-key"></i></button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info btn-sm" ng-click="ctrl.onEdit($index, row)"><i class="fa fa-pencil-square-o"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    @Html.Partial("PaginationAndLoading")
                </table>
            </div>
        </div>

    <script type="text/ng-template" id="modalEdit.html">
            <form ng-submit="ctrl.onSave()" novalidate="novalidate" ng-init="ctrl.init(@htmlHelper.JsonNet(Model.Catalogs))">
                <div class="modal-header">
                    <h3>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        @Global.ViewSharedMsgGeneralInformation
                    </h3>
                </div>
                <div class="modal-body margin-bottom-1em remove-padding">
                    <div class="col-xs-12 col-lg-4">
                        <div class="form-group">
                            <label for="Name">@Global.ViewAccountUsersName</label>
                            <input type="text" class="form-control" name="Name" placeholder="@Global.ViewAccountUsersName" ng-model="ctrl.vm.data.name" required maxlength="50" />
                        </div>
                        <div class="form-group">
                            <label for="PaternalLastName">@Global.ViewAccountUsersMiddleName</label>
                            <input type="text" class="form-control" id="PaternalLastName" name="PaternalLastName" placeholder="@Global.ViewAccountUsersMiddleName" ng-model="ctrl.vm.data.paternalLastName" required maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="MaternalLastName">@Global.ViewAccountUsersLastName</label>
                            <input type="text" class="form-control" id="MaternalLastName" name="MaternalLastName" placeholder="@Global.ViewAccountUsersLastName" ng-model="ctrl.vm.data.maternalLastName">
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="form-group">
                            <label for="UserName">@Global.ViewAccountUsersUserName</label>
                            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="@Global.ViewAccountUsersUserName" ng-model="ctrl.vm.data.userName" required maxlength="50" />
                        </div>
                        <div class="form-group">
                            <label for="Email">@Global.ViewAccountUsersEmail</label>
                            <div class="input-group">
                                <span class="input-group-addon">@@</span>
                                <input type="text" class="form-control" id="Email" name="Email" placeholder="@Global.ViewAccountUsersEmail" required ng-model="ctrl.vm.data.email" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="UserStatusId">@Global.ViewAccountUsersStatus</label>
                            <select id="UserStatusId" class="form-control" name="UserStatusId" required
                                    ng-model="ctrl.vm.data.currentUserStatusSelected"
                                    ng-change="ctrl.vm.data.userStatusId = ctrl.vm.data.currentUserStatusSelected.userStatusId"
                                    ng-options="option.nameTranslated for option in ctrl.vm.config.currentUserStatus track by option.userStatusId"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div id="roles" class="form-group">
                            <label>Roles</label>
                            <div class="checkbox" ng-repeat="role in ctrl.vm.config.currentRole">
                                <input type="checkbox" data-checklist-model="ctrl.vm.data.roles" data-checklist-value="role" id="cbx{{role.name}}">
                                <label for="cbx{{role.name}}">
                                    {{role.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CurrentRoleId">@Global.ViewAccountUsersRoleActual</label>
                            <select id="CurrentRoleId" class="form-control" name="CurrentRoleId" required
                                    ng-model="ctrl.vm.data.currentRoleSelected"
                                    ng-change="ctrl.vm.data.currentRoleId = ctrl.vm.data.currentRoleSelected.roleId"
                                    ng-options="option.name for option in ctrl.vm.data.roles track by option.roleId"></select>
                        </div>
                        <div class="form-group" ng-if="ctrl.vm.config.currentLanguage.length > 1">
                            <label for="DefaultLanguage">@Global.ViewAccountUsersDefaultLanguage</label>
                            <select id="DefaultLanguage" class="form-control" name="DefaultLanguage" required
                                    ng-model="ctrl.vm.data.currentLanguageSelected"
                                    ng-change="ctrl.vm.data.defaultLanguage = ctrl.vm.data.currentLanguageSelected.name"
                                    ng-options="option.displayName for option in ctrl.vm.config.currentLanguage track by option.name"></select>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="margin-top-bottom-1em">
                            <div class="alert alert-warning">
                                @Global.ViewAccountUserCompanyAssignamentTitle
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="form-group">
                            <label for="Name">@Global.ViewAccountUsersCompanyName</label>
                            <div class="input-group">
                                <input ng-disabled="true" type="text" class="form-control" id="CompanyName" name="CompanyName" ng-model="ctrl.vm.data.companyName" placeholder="@Global.ViewAccountUsersUnassignedCompany">
                                <div class="input-group-btn">
                                    <!-- Buttons -->
                                    <button class="btn btn-info" ng-click="ctrl.vm.data.companyId = null; ctrl.vm.data.companyName = null" ng-if="ctrl.vm.data.companyId != null"><i class="fa fa-eraser"></i></button>
                                    <button type="button" class="btn btn-info" ng-click="ctrl.onLinkCompany()"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <input type="hidden" name="RowVersion" data-bind="value: vm.RowVersion" />
                </div>
                <div class="modal-footer remove-padding">
                    <div class="col-xs-12">
                        <a class="btn btn-default" ng-click="ctrl.onClose()">@Global.ViewSharedCancel</a>
                        <button type="submit" class="btn btn-primary">@Global.ViewSharedSave</button>
                    </div>
                </div>
            </form>
        </script>
        
        <script type="text/ng-template" id="modalTokensEdit.html">
            <div class="modal-header">
                <h3>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    @Global.ViewAccountTokenUserTokenTitle
                </h3>
            </div>
            <div class="modal-body margin-bottom-1em remove-padding">
                <div class="col-xs-12">
                    @Html.Partial("UserTokens", new UserTokenPageViewModel
                                                    {
                                                        Messages =
                                                            {
                                                                ConfirmRevokeTokenMsg = Global.AccountAccessTokenRevoqueMsg,
                                                                ConfirmGenerateTokenMsg = Global.AccountAccessTokenGenerateMsg,
                                                            }
                                                    })
                </div>
            </div>
            <div class="modal-footer remove-padding">
                <div class="col-xs-12">
                    <a class="btn btn-default" ng-click="ctrl.onCloseTokenModal()">@Global.ViewSharedCancel</a>
                </div>
            </div>
        
        </script>
        <script type="text/ng-template" id="modalCompanyAssignament.html">
            <div ng-init="ctrl.init(@htmlHelper.JsonNet(Model.Messages))" formnovalidate>
                <div class="modal-header">
                    <h3>
                        <i class="fa fa-link" aria-hidden="true"></i>
                        @Global.ViewAccountUserLinkCompany
                    </h3>
                </div>
                <div class="modal-body margin-top-bottom-1em remove-padding">
                    <div class="col-xs-12 remove-padding">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="CompanyName">@Global.ViewAccountUsersCompanyName</label>
                                <div class="form-group">
                                    <selectize options="ctrl.vm.data.companySelectize"
                                               config='ctrl.vm.config.companySelectizeConfig'
                                               ng-model="ctrl.vm.data.companyId" required>
                                    </selectize>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer remove-padding">
                    <div class="col-xs-12">
                        <a class="btn btn-default" ng-click="ctrl.onClose()">@Global.ViewSharedCancel</a>
                        <a class="btn btn-primary" ng-click="ctrl.onSaveCompanySelected()">@Global.ViewSharedSave</a>
                    </div>
                </div>
            </div>
        </script>
    </div>
</div>