header.affix {
    border-color: #101010;
    background-color: #222;
    height: 50px;
}

header i:before {
    vertical-align: middle;
}

header i.fa:before {
    vertical-align: sub;
}

.menu .main {
    background: none repeat scroll 0 0 #353535;
}

.menu .toggle {
    line-height: 50px;
}

header .responsiveToggle a {
    padding: 15px 18px 11px 18px;
    height: 50px;
    background-color: #353535;
}
.btn-inverse.nohover {
    color: white;
    background-color: #353535;
}

.affix .btn {
    line-height: 1.7;
    padding: 15px 15px 10px 15px;
}

.nav-pills > li > a {
    border-left: 2px solid #101010;
}

.menu .toggle {
    background: none repeat scroll 0 0 #353535;
    color: #eee;
    height: 50px;
}