@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?89035111');
  src: url('../font/fontello.eot?89035111#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?89035111') format('woff'),
       url('../font/fontello.ttf?89035111') format('truetype'),
       url('../font/fontello.svg?89035111#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?89035111#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-language:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-sign-out:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-caret-down:before { content: '\e806'; } /* '' */
.icon-navicon:before { content: '\e807'; } /* '' */
.icon-password:before { content: '\e808'; } /* '' */
.icon-roles:before { content: '\e809'; } /* '' */
.icon-exclamation-triangle:before { content: '\e80a'; } /* '' */
.icon-pencil-edit:before { content: '\e80b'; } /* '' */
.icon-global-attributes:before { content: '\e80d'; } /* '' */
.icon-user-md:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */