
.icon-language:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-sign-out:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-caret-down:before { content: '\e806'; } /* '' */
.icon-navicon:before { content: '\e807'; } /* '' */
.icon-password:before { content: '\e808'; } /* '' */
.icon-roles:before { content: '\e809'; } /* '' */
.icon-exclamation-triangle:before { content: '\e80a'; } /* '' */
.icon-pencil-edit:before { content: '\e80b'; } /* '' */
.icon-global-attributes:before { content: '\e80d'; } /* '' */
.icon-user-md:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */