@using System.Web.Optimization
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure
@using Bitmore.Aml.Web.Infrastructure.Config
@using Bitmore.Aml.Web.ViewModel.Shared
@model Bitmore.Aml.Web.ViewModel.App.GlobalAttributeViewModel
@{
    ViewBag.Title = Global.ViewAppGlobalAttributesTitle;
    var authentication = UnityConfig.Instance.Resolve<IAuthentication>();
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
}
@section HeaderContentCSS{
    @Styles.Render("~/Assets/bootstrap-datetimepicker/css")
    @Styles.Render("~/Assets/angular-smart-table/css")
    @Styles.Render("~/Assets/bootstrap-modal-sidebar/css")
}
@section HeaderContent{
    @Scripts.Render("~/Assets/angular-smart-table/js")
    @Scripts.Render("~/Assets/angular-auto-validate/js")
    @Scripts.Render("~/Assets/bootstrap-datetimepicker/js")
    @Scripts.Render("~/Assets/app/globalAttributes/js")
}
<div>
    <div ng-controller="globalAttributesController as ctrl" ng-init="ctrl.init(@htmlHelper.JsonNet(Model))">
        @Html.Partial("ModuleHeader", new ModuleHeaderViewModel
        {
            TitleTop = Global.ViewAppGlobalAttributesTitleTop,
            TitleMessage = Global.ViewAppGlobalAttributesTitleMessage,
            TitleIcon = "icon-global-attributes"
        })
        <div class="row">
            <div class="col-xs-12 margin-top-1em">
                <div class="pull-right btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="ctrl.purgeCache()">@Global.ViewAppGlobalAttributesPurgeCache</button>
                    <button type="button" class="btn btn-success" ng-click="ctrl.showSystemInfo()"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 margin-top-1em table-responsive">
                <table class="ng-cloak table table-striped table-condensed table-collapse-phone" st-pipe="ctrl.loadData" st-table="ctrl.vm.rowCollection" width="100%">
                    <thead>
                        <tr>
                            <th st-ratio="20" st-sort="Name" st-sort-default="true">@Global.ViewAppGlobalAttributesGridName</th>
                            <th st-ratio="50" st-sort="Description">@Global.ViewAppGlobalAttributesGridDescription</th>
                            <th st-ratio="20" st-sort="CreatedOnDate">@Global.ViewAppGlobalAttributesGridCreatedOnDate</th>
                            <th st-ratio="10">@Global.ViewAppGlobalAttributesGridActions</th>
                        </tr>
                        <tr>
                            @Html.InputSearch(new[] { "Name", "Description" })
                            <th>
                                @Html.Partial("DateTimePicker", DateTimePickerViewModel.CreateTableField("CreatedOnDate", true))
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!ctrl.vm.isLoading">
                        <tr st-select-row="row" ng-repeat="row in ctrl.vm.rowCollection">
                            <td class="has-label" data-label="@Global.ViewAppGlobalAttributesGridName">{{row.name}}</td>
                            <td class="has-label" data-label="@Global.ViewAppGlobalAttributesGridDescription">{{row.description}}</td>
                            <td class="has-label" data-label="@Global.ViewAppGlobalAttributesGridCreatedOnDate">{{row.createdOnDate | date:"@authentication.FullDateTimeFormat()"}}</td>
                            <td class="has-label action-inline" data-label="@Global.ViewAppGlobalAttributesGridActions">
                                &nbsp;
                                <button class="btn btn-info btn-sm pull-right" ng-click="ctrl.onEdit($index, row)"><i class="fa fa-pencil-square-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    @Html.Partial("PaginationAndLoading")
                </table>
            </div>
        </div>
        <script type="text/ng-template" id="modalEdit.html">
            <form ng-submit="ctrl.onSave()" novalidate="novalidate">
                <div class="modal-header">
                    <h3>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        @Global.ViewAppGlobalAttributesTitleTop
                    </h3>
                </div>
                <div class="modal-body margin-bottom-1em remove-padding">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="Description">@Global.ViewAppGlobalAttributesDescription</label>
                            <input type="text" class="form-control" id="Description" name="Description" ng-model="ctrl.vm.data.description" required>
                        </div>
                        <div class="form-group">
                            <label for="Value">@Global.ViewAppGlobalAttributesValue</label>
                            <textarea id="Value" class="form-control col-lg-12" rows="8" name="Value" ng-model="ctrl.vm.data.value" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer remove-padding">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default" ng-click="ctrl.onClose()">@Global.ViewSharedCancel</button>
                        <button type="submit" class="btn btn-primary">@Global.ViewSharedSave</button>
                    </div>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="modalSystemInfo.html">
            <div class="modal-header">
                <h3>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    @Global.ViewAppGlobalAttributesSystemInfoTitle
                </h3>
            </div>
            <div class="modal-body margin-top-1em col-xs-12">
                <table class="table table-word-break margin-top-1em">
                    <tbody>
                        <tr>
                            <td><strong>@Global.ViewAppGlobalAttributesSystemVersion</strong></td>
                            <td>@Model.Version</td>
                        </tr>
                        <tr>
                            <td><strong>@Global.ViewAppGlobalAttributesAppServerName</strong></td>
                            <td>@Model.AppMachineName</td>
                        </tr>
                        <tr>
                            <td><strong>@Global.ViewAppGlobalAttributesDbServerName</strong></td>
                            <td>@Model.DataBaseMachineName</td>
                        </tr>
                        <tr>
                            <td><strong>@Global.ViewAppGlobalAttributesInitialCatalog</strong></td>
                            <td>@Model.InitialCatalog</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer col-xs-12">
                <a class="btn btn-default" ng-click="onClose()">@Global.ViewSharedOk</a>
            </div>
        </script>
    </div>
</div>