@using System.Web.Optimization
@using Bitmore.Aml.Resources.Language
@using Bitmore.Aml.Web.Helpers
@using Bitmore.Aml.Web.Infrastructure
@using Bitmore.Aml.Web.Infrastructure.Config
@using Bitmore.Aml.Web.ViewModel.Shared
@{
    var htmlHelper = UnityConfig.Instance.Resolve<IHtmlHelper>();
    var authentication = UnityConfig.Instance.Resolve<IAuthentication>();
}
@section HeaderContentCSS{
    @Styles.Render("~/Assets/bootstrap-datetimepicker/css")
    @Styles.Render("~/Assets/angular-smart-table/css")
}
@section HeaderContent{
    @Scripts.Render("~/Assets/angular-smart-table/js")
    @Scripts.Render("~/Assets/bootstrap-datetimepicker/js")
    @Scripts.Render("~/Assets/app/log/js")
}
@{
    ViewBag.Title = Global.ViewAppLog;
}
<div>
    <div ng-controller="logController as ctrl" ng-init="ctrl.init(@htmlHelper.JsonNet(Model))">
    @Html.Partial("ModuleHeader", new ModuleHeaderViewModel
    {
        TitleTop = Global.ViewAppLogTitleTop,
        TitleMessage = Global.ViewAppLogTitleMessage, TitleIcon = "icon-book"
    }.AddGridAction("ctrl.onClickClearLog()", Global.ViewAppMsgTableClearLog).AddGridAction("ctrl.reloadGrid()", Global.ViewSharedGridReload))

        <div class="row">
            <div class="col-xs-12 margin-top-1em table-responsive">
                <table class="ng-cloak table table-striped table-condensed table-collapse-phone" st-pipe="ctrl.loadData" st-table="ctrl.vm.rowCollection" width="100%">
                    <thead>
                        <tr>
                            <th st-ratio="0" class="hidden" st-sort="AppLogId">AppLogId</th>
                            <th st-ratio="15" st-sort="Date" st-sort-default="reverse">@Global.ViewAppLogGridDate</th>
                            <th st-ratio="15" st-sort="Logger">@Global.ViewAppLogGridLogger</th>
                            <th st-ratio="40" st-sort="Message">@Global.ViewAppLogGridMessage</th>
                            <th st-ratio="10" st-sort="UserName">@Global.ViewAppLogGridUserName</th>
                            <th st-ratio="10" st-sort="AppLogType">@Global.ViewAppLogGridAppLogType</th>
                            <th st-ratio="10">@Global.ViewAppLogGridActions</th>
                        </tr>
                        <tr>
                            @Html.InputSearch("AppLogId", hide: true)
                            <th>
                                @Html.Partial("DateTimePicker", DateTimePickerViewModel.CreateTableField("Date", true))
                            </th>
                            @Html.SelectSearch("Logger", "currentLoggerTypes", "value", propertyValue: "value")
                            @Html.InputSearch("Message")
                            @Html.InputSearch("UserName")
                            @Html.SelectSearch("AppLogType", "currentAppTypes", "value", propertyValue: "value")
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!ctrl.vm.isLoading">
                        <tr st-select-row="row" ng-repeat="row in ctrl.vm.rowCollection">
                            <td class="has-label hidden" data-label="AppLogId">{{row.appLogId}}</td>
                            <td class="has-label" data-label="@Global.ViewAppLogGridDate">{{row.date | date:"@authentication.FullDateTimeFormat()"}}</td>
                            <td class="has-label" data-label="@Global.ViewAppLogGridLogger">{{row.logger}}</td>
                            <td class="has-label" data-label="@Global.ViewAppLogGridMessage">{{row.message}}</td>
                            <td class="has-label" data-label="@Global.ViewAppLogGridUserName ">{{row.userName}}</td>
                            <td class="has-label" data-label="@Global.ViewAppLogGridAppLogType">{{row.appLogType}}</td>
                            <td class="has-label action-inline" data-label="@Global.ViewAppLogGridActions">
                                &nbsp;
                                <button class="btn btn-info btn-sm pull-right" ng-click="ctrl.onEdit($index, row)"><i class="fa fa-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    @Html.Partial("PaginationAndLoading")
                </table>
            </div>
        </div>

        <script type="text/ng-template" id="modalEdit.html">
            <div class="modal-header">
                <h3>
                    <span class="glyphicon glyphicon-search"></span>
                    Log detail
                </h3>
            </div>
            <div class="modal-body margin-bottom-1em remove-padding">
                <div class="col-xs-12">
                    <div class="panel-body overflow-auto" ng-bind-html="ctrl.vm.data.data"></div>
                </div>
            </div>
            <div class="modal-footer remove-padding">
                <div class="col-xs-12">
                    <a class="btn btn-default" ng-click="ctrl.onClose()">@Global.ViewSharedOk</a>
                </div>
            </div>
        </script>
    </div>
</div>