@using Bitmore.Aml.Resources.Language
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row margin-top-2em row-centered">
    <div class="col-xs-12 extra-large-icon">
        <i class="icon-exclamation-triangle"></i>
    </div>
    <div class="col-xs-12 text-center">
        <h2>@Global.ViewAppMsgPageNotFoundTitle</h2>
        <p>@Global.ViewAppMsgPageNotFound</p>
    </div>
</div>