@import "site.variables.less";

/* Layout */
html {
    height: 100%;
    &.default { 
        background: @default-background !important;
    }
    &.login {
        @size: cover;
        background: url('../../images/background-login.jpg') no-repeat center center fixed;
        -moz-background-size: @size;
        -o-background-size: @size;
        -webkit-background-size: @size;
        background-size: @size;
    }
}
.default body { 
    background: @default-background !important;
}

.navbar-brand > img {
    margin-top: -14px;
    width: 195px;
}

/* Common Styles */
.page-header h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.page-header i:before {
    margin-left: 0px;
    margin-right: 10px;
}
.page-header > div:first-child {
    line-height: 4em;
}
.container-fill { 
    min-height: 100%;
}
.text-center {
    text-align: center;
}
.text-color-secundary {
    color: @text-color-secundary;
}
.remove-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
@iterations: 6;
.mixin-loop (@i) when (@i > 0) {
    .margin-top-bottom-@{i}em{
	    margin-top: ~"@{i}em";
	    margin-bottom: ~"@{i}em";
    }
    .margin-top-@{i}em {
        margin-top: ~"@{i}em";
    }
    .margin-left-@{i}em{
        margin-left: ~"@{i}em";
    }
    .margin-bottom-@{i}em{
        margin-bottom: ~"@{i}em";
    }
    .mixin-loop(@i - 1);
}
.mixin-loop(@iterations);

.parent-block {
	display: block;
	width: 100%;
}
.icon-red {
    color: red;
}
.clear-margin {
	margin:0 !important;
}
.overflow-auto {
    overflow: auto;
}
.action-inline .form-group {
    display: inline-block;
    margin-bottom: 0px;
}
.input-group-btn a i:not(.glyphicon){
    font-size: 18px;
}

/* Files */
.fa-stack-1x {
    top: .25em;
}
.fa-stack {
    font-size: .5em;
    vertical-align: top;
}
.filetype-text {
    font-size: .7em;
    font-weight: 700;
    margin-top: 2px;
    color: #fff;
}
.file-description {
    margin-left: 15px;
}
.file-description h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}
.file-link {
    color:@text-color-dark;
    text-decoration:none;
    font-size: large;
    word-break: break-all;
}
.file-drop-zone {
    height: inherit;
}
.file-td 
{
    width: 58px;
}

/*  Fix 'jumping scrollbar' issue using only CSS http://aykevl.nl/2014/09/fix-jumping-scrollbar 
    Necesary for FF
*/
@-moz-document url-prefix() { 
    .container-fill {
        height: 100%; 
    }

    #page-wrapper {
        overflow: auto;
    }
}

/*Roles module*/
.jstree-root-node .jstree-anchor:first-child{
    @shadow: inset 0 0 1px @primary-color-light;
    background: rgb(228, 250, 236);
    color: @text-color-dark;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: @shadow;
    -ms-box-shadow: @shadow;
    box-shadow: @shadow;
}
.jstree-icon.jstree-themeicon-custom {
    vertical-align: initial;
}
.jstree-node-comment {
    color: @text-color-secundary;
    font-style: italic;
}

/* jstree fix*/
.fix-tree input {
    color: @text-color-dark;
}

/* Menu Left */
#menu-toggle
{
    display:none;
}
.sidenav a.active {
    color: @primary-color-light !important;
    background-color: @text-color-dark;
}

/* Notifications */
span[data-notify="title"] {
    font-weight: bolder;
}

/* Login page */
.login-btn {
    background-color: @primary-color-light;
    border-color: @primary-color;
    font-weight: bold;
    color: @text-color-light;
}

/* Settings */
.settings-picture{
    span.glyphicon, .error-icon {
        font-size: 8.2em;
    }

    text-align: center;
    padding: 10px
}

/* Settings Avatar */
label.avatar {
    >input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
        + img{ /* IMAGE STYLES */
            cursor:pointer;
            border:2px solid transparent;
        }
        &:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
            @radius: 3px;
            border:2px solid #0b9252;
            background: #ABFFB9;
            -webkit-border-radius: @radius;
            -moz-border-radius: @radius;
            border-radius: @radius;
            border-style: dashed;
        }
    }
}

.dropdown-menu-language {
    @width: 190px;
    -moz-min-width: @width;
    -ms-min-width: @width;
    -o-min-width: @width;
    -webkit-min-width: @width;
    min-width: @width;
}

/* Tables*/
table {
    font-size: medium;
}
.table.table-word-break, .table .word-break-all  {
    word-break: break-all;
}
.table-responsive-min-height-initial {
    min-height: initial;
}
.table-responsive .st-selected {
    background-color:@primary-color-lightest !important;
}

/* Modal */
.modal.modal-wide .modal-dialog {
    width: 90%;
    margin-left: 5%;
}
.modal-open { /* Bootstrap fix */
    padding-right: 0 !important;
}
.modal-body {/* Bootstrap modal-body fix */
    max-height: ~"calc(100vh - 245px)";
    overflow-y: auto;
    width: 100%;
}
html.modal-open { /* Bootstrap fix */
    overflow-y: hidden !important;
}

/* Fix awesome-bootstrap-checkbox position*/
.radio, .checkbox {
    margin-top: 0px;
}

/* Centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left; /* reset the text-align */
    /* margin-right:-4px; inline-block space fix */
}
.content-centered {
    @transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -ms-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
}

/* Angular */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* Refresh animation */
.glyphicon-refresh-animate {
    @animation: spin .7s infinite linear;
    @animation-spinm: spinw .7s infinite linear;
    -animation: @animation;
    -ms-animation: @animation;
    -webkit-animation: @animation-spinm;
    -moz-animation: @animation-spinm;
}

/* User panel */
.user-panel {
    padding: 15px 10px 10px 10px;
    overflow: hidden;
    background-color: @primary-color-light;
    width: 255px;
    >.image>img {
        width: 100%;
        max-width: 55px;
        height: auto;
    }
    >.info, &>.info>a {
        color: @text-color-light;
    }
    >.info {
        line-height: 1;
        width: 70%;
    }
    span {
        font-size: 12px;
        color: @text-color-light;
    }
    i {
        color: #00aa00;
    }
}

/* Carousel */
.slider-size {
    height: 350px; /* This is your slider height */
}
.carousel {
    width:100%; 
    margin:0 auto; /* center your carousel if other than 100% */ 
}
.carousel-caption h3 {
    font-size: 34px;
    color: @primary-color-light;
}
.carousel-item {
    background-size:cover;
}

/* Main screen */
.main-items {
    h3 {
        color: #4e618a;
        text-shadow: 0 1px 2px @text-color-dark;
    }
    p {
        text-align: justify;
    }
}

/* Default bootstrap elements */
.btn-info, .pagination > .active > a, .btn-primary, .btn-primary[disabled] {
    background-color: @primary-color-light;
    border-color: @primary-color;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

@media (max-width:375px) {
    .text-profile {
        display: none;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    body.not-logged {
        margin-top: 50px;
        .navbar-header {
            float: left;
        }
        .navbar-right {
            float: right !important;
        }
    }
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
    .center-form form {
        margin: 0 auto;
        float: none;
    }
    #menu-toggle{
        display:block;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .settings-picture{
        padding: 10px 60px;
    }
}
