@primary-color: #238eb1;
@primary-color-light: #1ab7ea;
@primary-color-lighter: #56d2fa;
@primary-color-lightest: #90e4ff;

@text-color-secundary: #8a8a8a;
@text-color-light: #ffffff;
@text-color-dark: #000000;

@default-background: rgb(255, 255, 255) url('../../images/background.png') repeat;