/* Based on: https://github.com/peiche/bootstrap-responsive-table */
/* Sort table */
.st-sort-descent:before, .st-sort-ascent:before {
    font-family: FontAwesome;
    margin-right: 5px;
    font-size: 14px;
}
.st-sort-ascent:before {
    content: '\f160';
}
.st-sort-descent:before {
    content: '\f161';
}
.table-responsive td {
    word-break: break-all;
}
.table-collapse-phone > tbody tr:nth-child(even) {
    background-color:  #F2F2F2;
}
.table-responsive {
    min-height: 350px;
}
.table-responsive .st-selected {
    background-color:lightblue !important;
}
.table > tbody tr:hover:not(.st-selected) {
    background-color:#E2E2E2  !important
}

@media screen and (max-width: 768px) {
  .table-collapse-phone {
    display: block;
  }
  .table-collapse-phone caption,
  .table-collapse-phone tbody,
  .table-collapse-phone tr,
  .table-collapse-phone th,
  .table-collapse-phone td {
    display: block;
    overflow: hidden;
  }
  .table-collapse-phone thead{
    display: none;
  }
  .table-collapse-phone tr {
    border-top: 1px solid #ddd;
  }
  .table-collapse-phone tr:first-child {
    border: 0;
  }
  .table-collapse-phone > tbody > tr > th:first-child,
  .table-collapse-phone > tbody > tr > td:first-child {
    border: 0;
  }
  .table-collapse-phone .has-label[data-label] {
    position: relative;
    padding-left: 50%;
  }
  .table-collapse-phone .has-label[data-label]:before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    content: attr(data-label);
    font-weight: bold;
    max-width: 50%;
    word-break: break-word;
  }

  /* Extra */
  .table-collapse-phone .has-actions {
    display: -webkit-box;
  }
  .table-collapse-phone td {
    white-space: inherit !important;
    word-break: break-all;
  }
  .table-collapse-phone tfoot {
    display: block;
  }
}