/* Based on http://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */
/* Based on http://bootsnipp.com/snippets/KGxMD */

body {
    transition: background-color .5s;
}

/* Sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1032;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 51px;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding-top: 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Submenu */

.submenu {
    width: 250px;
}

.submenu-heading {
    padding: 15px;
    cursor: pointer;
}

.submenu-heading h4 {
    margin: 0;
}

.submenu-heading:hover {
    background: #888888;
    color: #ede0c9;
}

.submenu .list-group {
    margin: 0;
}

.submenu .list-group-item {
    border-radius: 0;
    background: #393939;
    border: 0;
    padding: .75em 1.7em;
}

.submenu .list-group-item:hover {
    background: #616161;
}

.submenu-body a{
    padding-left: 40px !important;
}

.submenu-body a{
    padding-left: 40px !important;
}

.submenu i {
    margin-right: 10px;
    text-align:center;
    width: 26px;
    height: 26px;
}

.toggled-overlay {
  position: fixed;
  z-index: 1031;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  visibility: hidden;
  opacity: 0;
}

.toggled .toggled-overlay {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.toggled-overlay {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}