/* Common */
.item.content, .item.portfolio, .item.team, .item.pricing, .item.contact {
	padding-top: 2em;
	padding-bottom: 2em;
}

/* Carousel */
.carousel .item > img {
    width: 100%;
    height: auto;
}
.carousel-full-width {
    padding-left: 0px;
    padding-right: 0px;
}

/* Google Maps */
/* Flexible iFrame */
.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,   
.flexible-container object,  
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Dividers */
hr.dashed {
	border-style: dashed;
	border-width: 3px;
	border-color: #CBD0D3;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	margin-top: 80px;
	margin-bottom: 80px;
}

hr.shadowDown {
	border-style: solid;
	border-width: 1px;
	border-color: #d7dcdf;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	margin-top: 80px;
	margin-bottom: 80px;
	box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.25);
	height: 20px;
}

.divider {
	line-height: 0px !important;
	height: 0px;
	border-width: 3px;
	border-color: #CBD0D3;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

.divider.dashed {
	border-style: dashed;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.divider.dotted {
	border-style: dotted;
	border-width: 10px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #e8edef;
}

.divider.dotted > span {
	line-height: 0.7em;
}

.divider > span {
	background: #fff;
	text-transform: uppercase;
	font-style: italic;
	padding: 0px 20px;
}

/* Thumbnail */
.thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    margin-bottom: 20px;
    display: block;
}